@import "tailwindcss";

:root {
  --background: #0F172A; /* Dark Slate */
  --foreground: #F8FAFC; /* Off-white */
  --primary: #10B981; /* Emerald Green */
  --accent: #84CC16; /* Neon Green */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira-code);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
